@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: Poppins, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-accent: Fredoka, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  --color-background: #F1F1EF;
  --color-sidebar: #F7F6F3;
  --color-text: #373530;
  --color-gray: #787774;
  --color-brown: #976D57;
  --color-orange: #CC782F;
  --color-yellow: #C29343;
  --color-green: #548164;
  --color-blue: #487CA5;
  --color-purple: #8A67AB;
  --color-pink: #B35488;
  --color-red: #C4554D;
  --color-bg-gray: #F1F1EF;
  --color-bg-brown: #F3EEEE;
  --color-bg-orange: #F8ECDF;
  --color-bg-yellow: #FAF3DD;
  --color-bg-green: #EEF3ED;
  --color-bg-blue: #E9F3F7;
  --color-bg-purple: #F6F3F8;
  --color-bg-pink: #F9F2F5;
  --color-bg-red: #FAECEC;

  --color-dark-background: #191919;
  --color-dark-sidebar: #202020;
  --color-dark-hover: #2c2c2c;
  --color-dark-text: #D4D4D4;
  --color-dark-gray: #9B9B9B;
  --color-dark-brown: #A27763;
  --color-dark-orange: #CB7B37;
  --color-dark-yellow: #C19138;
  --color-dark-green: #4F9768;
  --color-dark-blue: #447ACB;
  --color-dark-purple: #865DBB;
  --color-dark-red: #BE524B;
  --color-dark-bg-gray: #252525;
  --color-dark-bg-brown: #2E2724;
  --color-dark-bg-orange: #36291F;
  --color-dark-bg-yellow: #372E20;
  --color-dark-bg-green: #242B26;
  --color-dark-bg-blue: #1F282D;
  --color-dark-bg-purple: #2A2430;
  --color-dark-bg-pink: #2E2328;
  --color-dark-bg-red: #332523;
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button-default {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
